{% extends 'base.html '%}
{% load static %}

{% block content %}

<h2 class="text-center">ADD FOOD DETAILS</h2>
<div class="container" style="width:50%;">
<form method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <div class="mb-3">
      <label  class="form-label">Food name</label>
      <input type="text"  class="form-control" placeholder="enter food name" name="n">
    </div>

    <div class="mb-3">
  <label  class="form-label">Description</label>
  <textarea class="form-control"  rows="3" name="d"></textarea>
</div>

    <div class="mb-3">
      <label  class="form-label">Price</label>
      <input type="number"  class="form-control" placeholder="enter food name" name="p">
    </div>

    <div class="mb-3">
      <label  class="form-label">Images</label>
      <input type="file"  class="form-control" name="i">
    </div>

    <button type="submit" class="btn bg-warning" >Add Food</button>
</form>
    </div>

{% endblock %}
