{% extends 'base.html '%}
{% load static %}

{% block content %}

<h2 class="text-center">Registration</h2>
<div class="container" style="width:50%;">
<form method="POST">
    {% csrf_token %}
    <div class="mb-3">
      <label  class="form-label">username</label>
      <input type="text"  class="form-control" placeholder="enter username" name="u">
    </div>

  <div class="mb-3">
      <label  class="form-label">password</label>
      <input type="password"  class="form-control" placeholder="enter password" name="p">
    </div>

  <div class="mb-3">
      <label  class="form-label">confirm password</label>
      <input type="password"  class="form-control" placeholder="confirm password" name="cp">
    </div>

  <div class="mb-3">
      <label  class="form-label">firstname</label>
      <input type="text"  class="form-control" placeholder="enter firstname" name="f">
    </div>

  <div class="mb-3">
      <label  class="form-label">lastname</label>
      <input type="text"  class="form-control" placeholder="enter lastname" name="l">
    </div>

  <div class="mb-3">
      <label  class="form-label">Email</label>
      <input type="email"  class="form-control" placeholder="enter email" name="e">
    </div>


    <button type="submit" class="btn" style="background-color:#3A6D8C;color:white;">register</button>
</form>
    </div>

{% endblock %}
